[submodule "src/moveit_resources"]
	path = src/moveit_resources
	url = https://github.com/moveit/moveit_resources.git
[submodule "src/moveit2"]
	path = src/moveit2
	url = https://github.com/moveit/moveit2.git
[submodule "src/moveit_msgs"]
	path = src/moveit_msgs
	url = https://github.com/moveit/moveit_msgs.git
[submodule "src/pick_ik"]
	path = src/pick_ik
	url = https://github.com/PickNikRobotics/pick_ik.git
